/A.csv
/AAL.csv
/AAP.csv
/AAPL.csv
/ABBV.csv
/ABC.csv
/ABMD.csv
/ABT.csv
/ACN.csv
/ADBE.csv
/ADI.csv
/ADM.csv
/ADP.csv
/ADSK.csv
/AEE.csv
/AEP.csv
/AES.csv
/AFL.csv
/AIG.csv
/AIZ.csv
/AJG.csv
/AKAM.csv
/ALB.csv
/ALGN.csv
/ALK.csv
/ALL.csv
/ALLE.csv
/AMAT.csv
/AMCR.csv
/AMD.csv
/AME.csv
/AMGN.csv
/AMP.csv
/AMT.csv
/AMZN.csv
/ANET.csv
/ANSS.csv
/ANTM.csv
/AON.csv
/AOS.csv
/APA.csv
/APD.csv
/APH.csv
/APTV.csv
/ARE.csv
/ATO.csv
/ATVI.csv
/AVB.csv
/AVGO.csv
/AVY.csv
/AWK.csv
/AXP.csv
/AZO.csv
/BA.csv
/BAC.csv
/BAX.csv
/BBWI.csv
/BBY.csv
/BDX.csv
/BEN.csv
/BF-B.csv
/BIIB.csv
/BIO.csv
/BK.csv
/BKNG.csv
/BKR.csv
/BLK.csv
/BLL.csv
/BMY.csv
/BR.csv
/BRK-B.csv
/BSX.csv
/BWA.csv
/BXP.csv
/C.csv
/CAG.csv
/CAH.csv
/CARR.csv
/CAT.csv
/CB.csv
/CBOE.csv
/CBRE.csv
/CCI.csv
/CCL.csv
/CDNS.csv
/CDW.csv
/CE.csv
/CERN.csv
/CF.csv
/CFG.csv
/CHD.csv
/CHRW.csv
/CHTR.csv
/CI.csv
/CINF.csv
/CL.csv
/CLX.csv
/CMA.csv
/CMCSA.csv
/CME.csv
/CMG.csv
/CMI.csv
/CMS.csv
/CNC.csv
/CNP.csv
/COF.csv
/COG.csv
/COO.csv
/COP.csv
/COST.csv
/CPB.csv
/CPRT.csv
/CRL.csv
/CRM.csv
/CSCO.csv
/CSX.csv
/CTAS.csv
/CTLT.csv
/CTSH.csv
/CTVA.csv
/CTXS.csv
/CVS.csv
/CVX.csv
/CZR.csv
/D.csv
/DAL.csv
/DD.csv
/DE.csv
/DFS.csv
/DG.csv
/DGX.csv
/DHI.csv
/DHR.csv
/DIS.csv
/DISCA.csv
/DISCK.csv
/DISH.csv
/DLR.csv
/DLTR.csv
/DOV.csv
/DOW.csv
/DPZ.csv
/DRE.csv
/DRI.csv
/DTE.csv
/DUK.csv
/DVA.csv
/DVN.csv
/DXC.csv
/DXCM.csv
/EA.csv
/EBAY.csv
/ECL.csv
/ED.csv
/EFX.csv
/EIX.csv
/EL.csv
/EMN.csv
/EMR.csv
/ENPH.csv
/EOG.csv
/EQIX.csv
/EQR.csv
/ES.csv
/ESS.csv
/ETN.csv
/ETR.csv
/ETSY.csv
/EVRG.csv
/EW.csv
/EXC.csv
/EXPD.csv
/EXPE.csv
/EXR.csv
/F.csv
/FANG.csv
/FAST.csv
/FB.csv
/FBHS.csv
/FCX.csv
/FDX.csv
/FE.csv
/FFIV.csv
/FIS.csv
/FISV.csv
/FITB.csv
/FLT.csv
/FMC.csv
/FOX.csv
/FOXA.csv
/FRC.csv
/FRT.csv
/FTNT.csv
/FTV.csv
/GD.csv
/GE.csv
/GILD.csv
/GIS.csv
/GL.csv
/GLW.csv
/GM.csv
/GNRC.csv
/GOOG.csv
/GOOGL.csv
/GPC.csv
/GPN.csv
/GPS.csv
/GRMN.csv
/GS.csv
/GWW.csv
/HAL.csv
/HAS.csv
/HBAN.csv
/HBI.csv
/HCA.csv
/HD.csv
/HES.csv
/HIG.csv
/HII.csv
/HLT.csv
/HOLX.csv
/HON.csv
/HPE.csv
/HPQ.csv
/HRL.csv
/HSIC.csv
/HST.csv
/HSY.csv
/HUM.csv
/HWM.csv
/IBM.csv
/ICE.csv
/IDXX.csv
/IEX.csv
/IFF.csv
/ILMN.csv
/INCY.csv
/INFO.csv
/INTC.csv
/INTU.csv
/IP.csv
/IPG.csv
/IPGP.csv
/IQV.csv
/IR.csv
/IRM.csv
/ISRG.csv
/IT.csv
/ITW.csv
/IVZ.csv
/J.csv
/JBHT.csv
/JCI.csv
/JKHY.csv
/JNJ.csv
/JNPR.csv
/JPM.csv
/K.csv
/KEY.csv
/KEYS.csv
/KHC.csv
/KIM.csv
/KLAC.csv
/KMB.csv
/KMI.csv
/KMX.csv
/KO.csv
/KR.csv
/KSU.csv
/L.csv
/LDOS.csv
/LEG.csv
/LEN.csv
/LH.csv
/LHX.csv
/LIN.csv
/LKQ.csv
/LLY.csv
/LMT.csv
/LNC.csv
/LNT.csv
/LOW.csv
/LRCX.csv
/LUMN.csv
/LUV.csv
/LVS.csv
/LW.csv
/LYB.csv
/LYV.csv
/MA.csv
/MAA.csv
/MAR.csv
/MAS.csv
/MCD.csv
/MCHP.csv
/MCK.csv
/MCO.csv
/MDLZ.csv
/MDT.csv
/MET.csv
/MGM.csv
/MHK.csv
/MKC.csv
/MKTX.csv
/MLM.csv
/MMC.csv
/MMM.csv
/MNST.csv
/MO.csv
/MOS.csv
/MPC.csv
/MPWR.csv
/MRK.csv
/MRNA.csv
/MRO.csv
/MS.csv
/MSCI.csv
/MSFT.csv
/MSI.csv
/MTB.csv
/MTD.csv
/MU.csv
/MXIM.csv
/NCLH.csv
/NDAQ.csv
/NEE.csv
/NEM.csv
/NFLX.csv
/NI.csv
/NKE.csv
/NLOK.csv
/NLSN.csv
/NOC.csv
/NOV.csv
/NOW.csv
/NRG.csv
/NSC.csv
/NTAP.csv
/NTRS.csv
/NUE.csv
/NVDA.csv
/NVR.csv
/NWL.csv
/NWS.csv
/NWSA.csv
/NXPI.csv
/O.csv
/ODFL.csv
/OGN.csv
/OKE.csv
/OMC.csv
/ORCL.csv
/ORLY.csv
/OTIS.csv
/OXY.csv
/PAYC.csv
/PAYX.csv
/PBCT.csv
/PCAR.csv
/PEAK.csv
/PEG.csv
/PENN.csv
/PEP.csv
/PFE.csv
/PFG.csv
/PG.csv
/PGR.csv
/PH.csv
/PHM.csv
/PKG.csv
/PKI.csv
/PLD.csv
/PM.csv
/PNC.csv
/PNR.csv
/PNW.csv
/POOL.csv
/PPG.csv
/PPL.csv
/PRGO.csv
/PRU.csv
/PSA.csv
/PSX.csv
/PTC.csv
/PVH.csv
/PWR.csv
/PXD.csv
/PYPL.csv
/QCOM.csv
/QRVO.csv
/RCL.csv
/RE.csv
/REG.csv
/REGN.csv
/RF.csv
/RHI.csv
/RJF.csv
/RL.csv
/RMD.csv
/ROK.csv
/ROL.csv
/ROP.csv
/ROST.csv
/RSG.csv
/RTX.csv
/SBAC.csv
/SBUX.csv
/SCHW.csv
/SEE.csv
/SHW.csv
/SIVB.csv
/SJM.csv
/SLB.csv
/SNA.csv
/SNPS.csv
/SO.csv
/SPG.csv
/SPGI.csv
/SRE.csv
/STE.csv
/STT.csv
/STX.csv
/STZ.csv
/SWK.csv
/SWKS.csv
/SYF.csv
/SYK.csv
/SYY.csv
/ScreenOutput.xlsx
/T.csv
/TAP.csv
/TDG.csv
/TDY.csv
/TEL.csv
/TER.csv
/TFC.csv
/TFX.csv
/TGT.csv
/TJX.csv
/TMO.csv
/TMUS.csv
/TPR.csv
/TRMB.csv
/TROW.csv
/TRV.csv
/TSCO.csv
/TSLA.csv
/TSN.csv
/TT.csv
/TTWO.csv
/TWTR.csv
/TXN.csv
/TXT.csv
/TYL.csv
/UA.csv
/UAA.csv
/UAL.csv
/UDR.csv
/UHS.csv
/ULTA.csv
/UNH.csv
/UNM.csv
/UNP.csv
/UPS.csv
/URI.csv
/USB.csv
/V.csv
/VFC.csv
/VIAC.csv
/VLO.csv
/VMC.csv
/VNO.csv
/VRSK.csv
/VRSN.csv
/VRTX.csv
/VTR.csv
/VTRS.csv
/VZ.csv
/WAB.csv
/WAT.csv
/WBA.csv
/WDC.csv
/WEC.csv
/WELL.csv
/WFC.csv
/WHR.csv
/WLTW.csv
/WM.csv
/WMB.csv
/WMT.csv
/WRB.csv
/WRK.csv
/WST.csv
/WU.csv
/WY.csv
/WYNN.csv
/XEL.csv
/XLNX.csv
/XOM.csv
/XRAY.csv
/XYL.csv
/YUM.csv
/ZBH.csv
/ZBRA.csv
/ZION.csv
/ZTS.csv